<div class="container" style="margin-top:30px">
<h1>Privacy Policy</h1>

<p><strong>Introduction</strong></p>

<p><strong>Our commitment to you</strong></p>
<ol start="2">
<li>We are committed to protecting personal information we collect from you in accordance with all legal requirements, 
    including but not limited to the Australian Privacy Principles (APP) and the Privacy Act 1988 (Cth) (Privacy Act).</li>
<li>The purpose of this Policy is to inform you about:
<ul>
<li>what personal information we collect from you;</li>
<li>how the personal information we collect from you is used;</li>
<li>to whom the personal information we collect from you may be disclosed;</li>
<li>how you can access and update personal information you have supplied to us; and</li>
<li>how to contact us about this Policy.</li>
</ul>
</li>
<li>This Policy applies to personal information you provide to us:
<ul>
<li>when visiting our website;</li>
<li>when you correspond or communicate with us via email, telephone, letter or in any other manner at any time.</li>
</ul>
</li>
</ol>
<p>This Policy does not apply to any information we collect about you from third parties.</p>
<p><strong>Collection of Personal Information</strong></p>
<ol start="5">
<li>Covid Near Me does not sell, share or trade customers’ personal information collected online with third parties except as permitted under these terms or otherwise permitted or compelled under law.</li>
<li>When you create an account or interact with us online, the personal information we collect may include your:
<ul>
<li>Name</li>
<li>Email Address</li>
</ul>
</li>
<li>The personal information we collect from you may be used in some or all of the following ways (the <strong>Primary Purposes</strong>):
<ul>
<li>To provide you with relevant product information, including by way of advertisements on third party websites you may visit;</li>
<li>To send you "Alerts" or information related to the site</li>
<li>For the purposes of administering the website.</li>
</ul>
</li>
<li>When you give us your email address on the website or through our social media or other related pages, we will also use your personal information to send you information, marketing and/or promotional materials from time to time. You can unsubscribe from this information at any time by using the unsubscribe function within the electronically delivered marketing material.</li>
</ol>
<p><strong>Cookies</strong></p>
<ol start="9">
<li>We also use "cookies" on our website, which may collect personal information.</li>
<li>Cookies are small pieces of information that are stored by your browser in your computer's memory and they are used to record how you navigate our website on each visit. Cookies and other tools that are used in any part of our website will be used for our internal management purposes, including collating statistics regarding website traffic.</li>
<li>Most browsers automatically accept cookies and other online tools in common use, but you can usually change your browser to prevent cookies being stored and to reject other tools our site may use.</li>
<li>Google may use cookies to serve advertisements based on your past visits to our website. We use the Google remarketing services to show you display advertisements for products we think you might be interested in.</li>
</ol>
<!-- <p><strong>Use or disclosure of your information outside Australia</strong></p>
<ol start="13">
<li>Depending on the nature of our engagement or the circumstances of your matter, we may disclose your personal information to entities overseas. These countries will have laws relating to the protection use and disclosure of personal information that are different from those that apply in Australia.</li>
<li>We may also store, process or back up your personal information on servers that are located overseas (including through third party service providers). Given the nature of how data is stored, either in the "cloud" or on third party servers located at multiple sites, it is not possible for us to advise you of the countries where your personal information may be stored.</li>
</ol> -->
<!-- <p><strong>Updating Your Personal Information</strong></p>
<ol start="15">
<li>You can update your personal information anytime by accessing your account on our website or by contacting us.</li>
</ol> -->
<p> </p>
<p><strong>Security of Your Personal Information</strong></p>
<ol start="16">
<li>All reasonable steps are taken to ensure that your personal information is treated confidentially, kept secure, protected against unauthorised use and is used or disclosed or both for the purpose for which it was collected.</li>
<li>Please be aware that the internet is not a secure environment and when you provide us with information over the internet you do so at your own risk.</li>
<li>We protect your personal information by:
<ul>
<li>Restricting access to personal information; and</li>
<li>Securely destroying your personal information when it is no longer needed for our record retention purposes.</li>
</ul>
</li>
</ol>
<p><strong>Disclosure of Personal Information</strong></p>
<ol start="19">
<li>We may disclose your personal information to those of its related body corporates and associates for the Primary Purposes outlined above that agree to treat it substantially in accordance with this privacy statement.</li>
<li>we will not, without your permission, disclose your personal information to third parties except that we reserves the right to disclose your personal information to (and you hereby consent):
<ul>
<li>third party service providers including not limited to those supporting our business (including services); and</li>
</ul>
</li>
<li>We will otherwise only release your personal information to third parties in the following limited circumstances to the extent permitted by law:
<ul>
<li>if required by law;</li>
<li>to protect the property or legal rights of us, its related body corporates or associates.</li>
</ul>
</li>
<li>We may disclose aggregated information which does not allow you to be personally identified to third parties.</li>
</ol>
<p><strong>About Breaches of Privacy</strong></p>
<ol start="23">
<li>If you believe that your privacy has been breached please contact us at <a href="https://twitter.com/digitalmomentum" >@digitalmomentum</a> and we will seek to resolve the issue with you in accordance with the APP and the Privacy Act.</li>
</ol>
<p><strong>Collection of Computer Data</strong></p>
<ol start="24">
<li>When you visit our website, we will automatically record information that your browser sends whenever you visit a website. This data may include:
<ul>
<li>Your computer's IP address</li>
<li>Browser type</li>
<li>Webpage(s) you were visiting before you came to our site</li>
<li>The pages in the website that you browse</li>
<li>Time spent on those pages, items and information perused on our site, access times and dates, and other data.</li>
</ul>
</li>
</ol>
<p>This information is collected for analysis and evaluation in order to help us improve our site, product offering, and the services we provide. This data will not be used in association with any other personal information.</p>
<p><strong>Links</strong></p>
<ol start="25">
<li>Please note our website may contain links to other websites which are provided for your convenience. We are only responsible for the privacy practices and security of our own website. We recommend that you check the privacy policies and procedures of other websites that you visit.</li>
</ol>
<p><strong>Changes to the Privacy Policy</strong></p>
<ol start="26">
<li>We reserves the right to modify and change the Privacy Statement at any time without notice. Any changes to this policy will be published on our site.</li>
</ol>
<p><strong>How to contact us</strong></p>
<ol start="27">
<li>If you would like any further information about this Policy or if you have any comment, complaint or question about any privacy matter affecting us, please contact us via the details below.
<ul>
<li>Attention: The Privacy Officer</li>
<li><a href="https://twitter.com/digitalmomentum" >@digitalmomentum</a></li>
<li>303b/25 Solent Circuit, Norwest NSW 2153</li>
</ul>
</li>
</ol>
</div>