<div class="container" style="margin-top:30px">
<h1>Website Disclaimer</h1>


<h2>Quality of information</h2>
<p>This website is made up of, for the most part, hypertext links to other Internet sites which contain information collated and presented by government agencies, third-party organisations and individuals.</p>

<p>This website is presented for the purpose of disseminating information free-of-charge for the benefit of the public.</p>

<p>Information on this website is provided as general information only and is not intended as a substitute for advice from a qualified professional.</p>

<p>Users of this website should use their own skill and judgment in using information on this website and carefully evaluate the accuracy, currency, completeness and relevance of such information. Users should take steps to independently verify the information on this website and, where appropriate, seek professional advice.</p>

<p>If there is any material that you consider to be misleading or inaccurate, please let us know so that it may be corrected if necessary.</p>

<h2>Website security</h2>

<p>Users should be aware that the internet is not a secure medium and communications to and from the website may be intercepted or altered in transit, including through the use of viruses. We do not guarantee the security of this website or that all material available on this website is free from viruses. Users are advised to exercise care and discretion in the information they choose to make available on or through this website and to take adequate precautions to protect against viruses that may interfere with or damage your technical devices, hardware, software or data.</p>

<h2>Links to external sites</h2>
<p>This website contains links to other websites. These links have been included on this website with the intention of increasing the information available to you. If you use these links, you may leave this website. We have no control over linked websites, and as a result:</p>

<ul>
	<li>we make no guarantees in relation to the security of linked websites and do not accept liability in relation to security issues arising should you choose to visit those websites;</li>
	<li>we do not accept responsibility or liability for any loss, damage, cost or expense you might incur if you rely on information which appears on linked websites;</li>
	<li>when you visit a linked website, you will be subject to the privacy policy of that website and will no longer be subject to the Privacy Statement for this website;</li>
	<li>we are not responsible for the views, opinions, standards or information expressed on linked websites. The provision of a link does not imply that the we endorses those websites or the people or companies who own them, and vice versa.</li>
</ul>

<p>The providers of the linked websites often have their own applicable terms of service, protocols and standards in relation to their websites and the information which appears at them. Users of the linked websites should familiarise themselves with those terms of service, protocols and standards.</p>

<p>This website:</p>

<ul>
	<li>does not warrant or accept any liability in relation to the quality, operability or accuracy of the information accessed on and through this website;</li>
	<li>does not accept any legal liability whatsoever arising from or connected to, the accuracy, reliability, currency or completeness of any material contained on this website or on any linked website;</li>
	<li>does not accept any responsibility or liability for any loss, damage, cost or expense whether direct, indirect consequential or special, incurred by, or arising by reason of, any person using or relying on the materials which appear on or are accessed through this website and whether caused by reason of any error, omission or misrepresentation in the material or otherwise;</li>
	<li>does not warrant that the material accessed on or through this website is free of computer viruses or other contamination;</li>
	<li>does not warrant that any third party material on external linked websites does not infringe third party intellectual property rights.</li>
</ul>

<p><!--The NSW Government website displays custom Google Maps. <a href="https://www.google.com/help/terms_maps/">Under the Google Maps/Google Earth Additional Terms of Service</a>, if you access, download or use Google Maps/Google Earth, you are bound by the <a href="https://www.google.com/help/terms_maps/">Google Maps/Google Earth Additional Terms of Service</a>, including the <a href="https://policies.google.com/privacy/embedded?hl=en-US">Google Privacy Policy</a>.<br /> 
<br />-->
This website has been designed and made available as an Internet search tool only. As such you should be aware that the information you obtain from your search will depend upon the search topic and method that you use. Similarly, this website is not intended to be, and should not be relied upon as, the ultimate and complete source of information on any particular topic.<br />
<br />
Bearing in mind the importance of freedom of expression to our democratic society, we do not endorse or support the views, opinions, standards or information expressed at the linked websites. Similarly, you should not interpret the absence of a link from this website to any particular third-party website as a criticism or comment by the NSW Government on the provider or content of that website.<br />
<br />
The links which appear at the website have been set up as an information source only and with the our desire to promote multiculturalism, tolerance and diversity in our society in mind. As such, you should appreciate that despite the efforts of this website to review and assess the suitability of the linked websites, some material which appears at those websites may cause offence or upset to some users. TWe regret any such offence or upset caused.</p>

<h2>Third party intellectual property</h2>

<p>This website contains third party material and provides access to third party material which may or may not be identified. Wherever a third party holds copyright in material presented on this website, the copyright remains with that party. Their permission may be required to use the material and you should contact that party directly.<br />
<br />
You must check and comply with the licensing information for each item of material that you wish to use. This may require you to contact the relevant agency to confirm whether the material is licensed pursuant to a Creative Commons licence or the third party copyright owner for permission to use the material.</p>

<h2>Links to this website</h2>

<p>If you plan to create a link to this website, please follow these guidelines:</p>

<ul>
	<li>links to this website (<a href="https://www.covid-near.me/">www.covid-near.me</a>) should preferably be to the homepage or other high level page. Linking other pages may pose some risk, as the page to which you link may move or become unavailable;</li>
	<li>this website should be opened in a new window and not within a frame of your own branding;</li>
	<li>you must not use the link to provide, or in any way imply, endorsement by us, of your organisation, services or products;</li>
	<li>you must not pass off content from this website as your own. This includes copying or re-using parts of the website.</li>
</ul>



    </div>
